name: build

on:

  push:
    branches:
    - master

  pull_request:
    branches:
    - master

jobs:

  build_windows:

    runs-on: windows-2022

    defaults:
      run:
        shell: cmd

    strategy:
      matrix:
        arch:
        - Win32
        - x64

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{ matrix.arch }}

    - name: Get WTL
      uses: actions/checkout@v4
      with:
        repository: Bobini1/wtl
        path: wtl

    - name: Build and install WTL
      run: |
        mkdir wtl_build
        cmake -A ${{ matrix.arch }} -S wtl -B wtl_build -DCMAKE_INSTALL_PREFIX=%CD%\wtl_install
        cmake --build wtl_build --config Release
        cmake --install wtl_build --config Release

    - name: Build
      run: |
        mkdir build
        cmake -A ${{ matrix.arch }} -S . -B build -DCMAKE_PREFIX_PATH=%CD%\wtl_install
        msbuild -v:m -p:Configuration=Release -p:Platform=${{ matrix.arch }} build\foosdk.sln

  build_macos:

    strategy:
      matrix:
        os:
        - macos-26
        - macos-15-intel

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build
      run: |
        mkdir build
        cmake -DCMAKE_BUILD_TYPE=Release -S . -B build
        cmake --build build --parallel
